<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.main.mapper.OutsourceCompanyMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.main.model.OutsourceCompany">
		<id column="id" property="id" />
		<result column="company_number" property="companyNumber" />
		<result column="company" property="company" />
		<result column="address" property="address" />
		<result column="create_date" property="createDate" />
		<result column="create_user" property="createUser" />
	</resultMap>

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		id, company_number AS companyNumber, company, address, create_date AS createDate, create_user AS createUser
	</sql>

	<select id="selectAllList" resultType="Map">
		SELECT
		<include refid="Base_Column_List"/>
		FROM OUTSOURCE_COMPANY ORDER BY COMPANY_NUMBER ASC
	</select>

</mapper>
