<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.main.mapper.OutsourceAllocationRecordMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.main.model.OutsourceAllocationRecord">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="cust_id" property="custId" />
		<result column="tel_number" property="telNumber" />
		<result column="ious" property="ious" />
		<result column="total_amount" property="totalAmount" />
		<result column="next_refund_day" property="nextRefundDay" />
		<result column="amount_override" property="amountOverride" />
		<result column="overdue_principal" property="overduePrincipal" />
		<result column="overdue_accrual" property="overdueAccrual" />
		<result column="default_interest" property="defaultInterest" />
		<result column="age_cd" property="ageCd" />
		<result column="overdue" property="overdue" />
		<result column="net_lending_platform" property="netLendingPlatform" />
		<result column="is_sole_proprietorship" property="isSoleProprietorship" />
		<result column="dca_distribution" property="dcaDistribution" />
		<result column="the_case_distribution" property="theCaseDistribution" />
		<result column="turn_over_day" property="turnOverDay" />
		<result column="product_name" property="productName" />
		<result column="total_aging" property="totalAging" />
		<result column="contract_create_date" property="contractCreateDate" />
		<result column="remarks" property="remarks" />
		<result column="create_date" property="createDate" />
		<result column="create_type" property="createType" />
	</resultMap>

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		id, name, cust_id AS custId, tel_number AS telNumber, ious, total_amount AS totalAmount,
		next_refund_day AS nextRefundDay, amount_override AS amountOverride, overdue_principal AS overduePrincipal,
		overdue_accrual AS overdueAccrual, default_interest AS defaultInterest, age_cd AS ageCd, overdue,
		net_lending_platform AS netLendingPlatform, is_sole_proprietorship AS isSoleProprietorship,
		dca_distribution AS dcaDistribution, the_case_distribution AS theCaseDistribution,
		turn_over_day AS turnOverDay, product_name AS productName, total_aging AS totalAging,
		contract_create_date AS contractCreateDate, remarks, create_date AS createDate, create_type AS createType
	</sql>

	<!-- 查询所有数据 -->
	<select id="selectAllList" resultType="com.main.model.OutsourceAllocationRecord">
		SELECT <include refid="Base_Column_List"/> FROM OUTSOURCE_ALLOCATION_RECORD
	</select>

	<!-- 查询所有客户 -->
	<select id="loadRecordALLCustData" resultType="com.main.model.OutsourceAllocationRecord">
		SELECT <include refid="Base_Column_List"/> FROM OUTSOURCE_ALLOCATION_RECORD GROUP BY CUST_ID
	</select>

	<!-- 查询所有客户 -->
	<select id="selectMaxTurnByCustId" resultType="com.main.model.OutsourceAllocationRecord">
		SELECT <include refid="Base_Column_List"/>
		FROM OUTSOURCE_ALLOCATION_RECORD
		WHERE CUST_ID = #{custId} ORDER BY TURN_OVER_DAY DESC LIMIT 1
	</select>

	<!-- 分页查询 -->
	<select id="selectPageInfo" resultType="Map">
		SELECT
		<include refid="Base_Column_List"/>
		FROM OUTSOURCE_ALLOCATION_RECORD
		<where>
			1=1
			<if test="name != null and name != ''">
				AND `NAME` LIKE #{name}
			</if>
			<if test="custId != null and custId != ''">
				AND cust_id = #{custId}
			</if>
			<if test="ious != null and ious != ''">
				AND ious = #{ious}
			</if>
		</where>
	</select>

	<!-- 查询满足条件的所有数据总数 -->
	<select id="loadRecordByMaps" resultType="com.main.model.OutsourceAllocationRecord">
		SELECT <include refid="Base_Column_List"/> FROM OUTSOURCE_ALLOCATION_RECORD
		<where>
			1=1
			<if test="custId != null and custId != ''">
				AND cust_id = #{custId}
			</if>
			<if test="custIds != null and custIds != ''">
				AND cust_id in (${custIds})
			</if>
			<if test="ious != null and ious != ''">
				AND ious = #{ious}
			</if>
		</where>
		<if test="orderStr != null and orderStr != ''">
			ORDER BY ${orderStr} ${orderAsc}
		</if>
	</select>

	<!-- 查询满足条件的所有数据总数 -->
	<select id="selectByMapCount" resultType="java.lang.Integer">
		SELECT COUNT(1) FROM OUTSOURCE_ALLOCATION_RECORD
		<where>
			1=1
			<if test="custId != null and custId != ''">
				AND cust_id = #{custId}
			</if>
			<if test="ious != null and ious != ''">
				AND ious = #{ious}
			</if>
		</where>
		<if test="orderStr != null and orderStr != ''">
			ORDER BY ${orderStr} ${orderAsc}
		</if>
	</select>

	<!-- 删除所有表数据 -->
	<delete id="cleanAllData">
		TRUNCATE TABLE OUTSOURCE_ALLOCATION_RECORD
	</delete>


</mapper>
